body{
    background-color: black;
}
.wrap{
    display: block;
    max-width:300px;
    border: 1px solid white;
    margin: 0 auto;
    background-color: black;
    position: relative;
}
.paint{
    display: block;
    width: 100%;
    height: 300px;
    background-color: white;
    margin: 0px auto 20px auto; 
    background-image: url(img/hang.jpg);
    background-size: cover;
    background-position: -400%;
}
.panel{
    display: flex;
    justify-content: space-around;
    margin: 0 auto 20px auto; 
}
.button{
    background-color: white; 
    padding: 2px;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1);
}
.wrap p{
    color: white;
    text-align: center;
}
.top_panel{
    display: flex;
    justify-content: center;
}
#attempts{
    margin-right: 40px;
    font-size: 20px;
    line-height: 20px;
}
#big{
    position: absolute;
    font-size: 200px;
    color:orange;
    left:50%;
    transform: translate(-50%, -50%);
    top:0%;
    display: none;
}


.lose{
    background-image: url(img/lose.png);
    background-repeat: no-repeat;
    background-position: 30% -20%;
    background-size: 85%;
}
.win{
    background-image: url(img/win.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 85%;
}

.wrap_bottom{
    display: block;
    height: 35px;
    max-width:300px;
    border: 1px solid white;
    margin: 0 auto;
    background-color: black;
    position: relative;
}

.wrap_bottom p{
    color: wheat;
    line-height: 5px;
    text-align: center;
    font-size: 14px;
}
#menu{
    margin-left: 20px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
}
.menu_{
    z-index: 3;
}
.menu_:hover{
    transform: scale(1.2);
}

.menu_display{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transition: 0.4s;
    z-index: 2;
}
.menu_display p{
    cursor: pointer;
}
.menu_display h3{
    color: bisque;
    text-align: center;
}
.menu_display p:hover{
    transform: scale(1.2);
    border-bottom: 1px solid gold;
}
.open{
    height: 100%;
}